<li>
    <div style="color: #09A687" class="collapsible-header active"><i class="material-icons">{strNomeIcone}</i>{strTituloCaixa}</div>
    <div class="collapsible-body" style="padding: 3em;">
        <div>
            <h6>{strTituloDocEnviado}</h6>
            <input type="button" name="docEnviado" value="Sim" id="docEnviado">
        </div>
        <hr>
        <div>
            <h6>{strTituloDocRecebido}</h6>
            <input type="checkbox" name="docRecebido" value="" id="docRecebido">
        </div>
    </div>
</li>
