<!--<script src="app/js/termos/carregarTIAF.js"></script>-->

<div class="fixed-action-btn" style="top: 250px; right: 70px;">
    <a class="btn-floating btn-large  blue darken-2">
        <i class="large material-icons">print</i>
    </a>
</div>

<div style="background-color: white;">
    <hr>
    <div class="container" style="padding-bottom: 2em;">
        <h4 class="titulo">Termo de Início da Ação Fiscal</h4>

        <form id="itensDocumento" style="text-align: justify;">
            <hr>
            <div class="col s12" style="white-space: pre-wrap;">
                {tiafObjetivo}
            </div>

            <div class="col s12" style="white-space: pre-wrap;">
                {tiafNotificacao}
            </div>

            <div class="col s12" style="white-space: pre-wrap;">
                {tiafRegimeEspecial}
            </div>

            <div class="col s12" style="white-space: pre-wrap;">
                {tiafPenas}
            </div>

            <div class="col s12" style="white-space: pre-wrap;">
                {tiafPrazo}
            </div>

            <div class="col s12" style="white-space: pre-wrap;">
                {tiafObservacoes}
            </div>
        </form>
    </div>
</div>
