<script src="app/js/imprimir_tiaf.js"></script>
<div id="imprimirTIAF" style="background-color: white;">
    <div align="center" style="padding: 1em;">
        <img src="../../src/img/header_docs.jpg" style="width: 95%"/>
    </div>
    <p align="center" class="tituloTermo-impressao">TERMO DE INICIO DE AÇÃO FISCAL</p>
    <p align="right" class="numeroDoc-impressao">TIAF GN 1/34/2015</p>

    <div class="row style_doc style_doc_fixo">
        <p class="style_doc_categoria_fixo" align="center">IDENTIFICAÇÃO DO AUTUADO</p>
        <div class="col-md-12" style="padding: 0px; margin-left: 1.1em;"><p>Razão Social: <span class="span_tiaf">{imprimirTiaf_razaoSocial}</span></p></div>
        <div style="margin-left: 1.1em;float: left;width: 35%;">
            <p>CMC: <span class="span_tiaf">{imprimirTiaf_cmc}</span></p>
            <p>Atividade: <span class="span_tiaf">{imprimirTiaf_atividade}</span></p>
        </div>
        <div style="float: left;">
            <p>CNPJ: <span class="span_tiaf">{imprimirTiaf_cnpj}</span></p>
            <p>Endereço: <span class="span_tiaf">{imprimirTiaf_endereco}</span></p>
        </div>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">OBJETIVO</p>
        <pre class="pre_doc">{imprimirTiaf_objetivo}</pre>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">NOTIFICAÇÃO</p>
        <pre class="pre_doc">{imprimirTiaf_notificacao}</pre>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">REGIME ESPECIAL DE FISCALIZAÇÃO</p>
        <pre class="pre_doc">{imprimirTiaf_regimeEspecial}</pre>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">PENAS</p>
        <pre class="pre_doc">{imprimirTiaf_penas}</pre>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">PRAZOS</p>
        <pre class="pre_doc">{imprimirTiaf_prazos}</pre>
    </div>

    <div class="row style_doc style_doc_fixo">
        <p class="style_doc_categoria_fixo" align="center">IDENTIFICAÇÃO DO AUTUANTE E DATA</p>
        <div style="margin-left: 1.1em;float: left;width: 50%;">
            <p>Autuante: <span class="span_tiaf">{imprimirTiaf_autuante}</span></p>
        </div>
        <div style="float: left;">
            <p>RE: <span class="span_tiaf">{imprimirTiaf_RE}</span></p>
        </div>
        <div style="margin-left: 1.1em;float: left; width: 100%;">
            <p>Cargo: <span class="span_tiaf">{imprimirTiaf_cargo}</span></p>
        </div>
        <div style="margin-left: 1.1em;float: left;width: 50%;">
            <p>Data e Local: <span class="span_tiaf">{imprimirTiaf_localData}</span></p>
        </div>
        <div style="float: left;">
            <p>Ass.:</p>
        </div>
    </div>

    <div class="row style_doc" style="margin-bottom: 0.3em;">
        <p align="center"  class="style_doc_categoria">OBSERVAÇÕES</p>
        <pre class="pre_doc">{imprimirTiaf_observacoes}</pre>
    </div>

    <div align="center">
        <span style="font-weight: bold;">Prefeitura Municipal de Ubatuba</span>
        <p style="margin: 0px;">Endereço: Av. Dona Maria Alves 865 - Centro - CEP 11680-000 - Ubatuba/SP - Fone: (12) 3834-1000</p>
        <span>www.ubatuba.sp.gov.br</span>
    </div>

</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">more_vert</i>
    </a>
    <ul>
        <li><a class="btn-floating orange"><i class="material-icons">edit</i></a></li>
        <li><a class="btn-floating red"><i class="material-icons">picture_as_pdf</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">file_download</i></a></li>
        <li><a id="visualizarImpressao" class="btn-floating green"><i class="material-icons">print</i></a></li>
        <li><a class="btn-floating purple"><i class="material-icons">live_help</i></a></li>
    </ul>
</div>
