<script src="app/js/jquery.jeditable.js"></script>
<script src="app/js/termos/tiaf.js"></script>

<div style="background-color: white;">
    <hr>
    <div class="container">
        <form id="itensTIAF">
            <h4 class="titulo">Termo de Início da Ação Fiscal</h4>
            <hr>

            <div class="input-field col s12">
                <textarea id="objetivo" name="objetivo" class="materialize-textarea">{tiafObjetivo}</textarea>
                <label for="objetivo" class="active">OBJETIVO</label>
            </div>

            <div class="col s12">
                <div class="col s12">
                    {cardDocSolicitado}
                </div><br>
            </div>

            <div class="input-field col s12">
                <textarea id="regimeEspecial" name="regimeEspecial" class="materialize-textarea">{tiafRegimeEspecial}</textarea>
                <label for="regimeEspecial" class="active">REGIME ESPECIAL DE FISCALIZAÇÃO</label>
            </div>

            <div class="input-field col s12">
                <textarea id="penas" name="penas" class="materialize-textarea">{tiafPenas}</textarea>
                <label for="penas" class="active">PENAS</label>
            </div>

            <div class="input-field col s12">
                <textarea id="prazo" name="prazo" class="materialize-textarea">{tiafPrazo}</textarea>
                <label for="prazo" class="active">PRAZO</label>
            </div>

            <div class="input-field col s12">
                <textarea id="observacao" name="observacao" class="materialize-textarea">{tiafObservacoes}</textarea>
                <label for="observacao" class="active">OBSERVAÇÕES</label>
            </div>

            <div class="col s12 right" style="margin-bottom: 3em;">
                <hr>
                <a id="CadastrarDocumento" class="waves-effect waves-light btn pull-right"><i class="material-icons right">send</i>{nomeBotao}</a>
            </div>

        </form>
    </div>
</div>
