<script src="app/js/acompanharTermo.js"></script>

<div class="row fundo-papel" id="acompanharTermo">

    <div class="col s12">
        <h6>Ação Fiscal {NumeroAcaoFiscalCompleto}</h6>
    </div>
    <div class="col s6">
        <h4 class="titulo">{TipoDocumento}</h4>
        <div id="editar-termo" style="background-color: #088da5; min-height:200px; padding: 2em;">

        </div>
    </div>
    <div class="col s6">
        <h4 class="titulo">Procedimentos:</h4>
        <div style="background-color: white; min-height:200px;" id="procedimentos-termo">
            <div>
                <ul class="collapsible" data-collapsible="expandable" style="padding: 1em;">
                    {ListaDeProcedimentos}
                </ul>
            </div>
        </div>
    </div>
</div>
