<div class="card white darken-1">
    <div id={cardID} class="card-content row">
        <div><span class="card-title" style="color: black;">{cardTitulo}</span></div>
        {cardItens}
    </div>
    <div class="card-action">
        <a id={cardADDitem}>Adicionar Item</a>
    </div>
</div>
