<script src="app/js/configurarTermos.js"></script>

<div class="col s12">
    <ul class="tabs">
        <li class="tab col s3"><a href="#doc-tiaf" id="li-tiaf" >TIAF</a></li>
        <li class="tab col s3"><a href="#doc-tif" id="li-tif" >TIF</a></li>
        <li class="tab col s3"><a href="#doc-td" id="li-td" >TD</a></li>
        <li class="tab col s3"><a href="#doc-aiim" id="li-aiim" >AIIM</a></li>
    </ul>
</div>

<div id="doc-tiaf" class="col s12"></div>
<div id="doc-tif" class="col s12"></div>
<div id="doc-td" class="col s12"></div>
<div id="doc-aiim" class="col s12"></div>
