<script src="app/js/controlarAcaoFiscal.js"></script>

<div class="row fundo-papel">

    <div class="col s12">
        <h6>Ação Fiscal {NumeroAcaoFiscalCompleto} - Processo: {NumeroProcesso}</h6>
    </div>
    <div class="col s4">
        <h4 class="titulo">Informações:</h4>
        <div style="background-color: white; min-height:200px; padding: 2em;">
            <span class="tag">{NomeFantasia}</span>
            <p><span class="tag">CNPJ: </span>{CNPJ}</p>
            <p><span class="tag">Razão Social: </span>{RazaoSocial}</p>
            <p><span class="tag">CMC: </span>{CMC}</p>
            <p><span class="tag">Endereço: </span>{Logradouro}, {NumeroLocal}</p>
            <p>{Bairro} - {Cidade}. {Complemento}</p>
            <p><span class="tag">Atividade: </span>{Atividade}</p>
            <p><span class="tag">ISS: </span>{ISS}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">ICMS: </span>{ICMS}</p>
            <p><span class="tag">Data de início: </span>{InicioAcao}</p>
            <p><span class="tag">Início do período: </span>{InicioPeriodo}</p>
            <p><span class="tag">Fim do período: </span>{FimPeriodo}</p>
            <p><span class="tag">Motivação principal: </span>{MotivacaoPrincipal}</p>
            <p><span class="tag">Data da ciência: </span>{DataCiencia}</p>
            <p><span class="tag">Hora da ciência: </span>{HoraCiencia}</p>
            <p><span class="tag">Fiscal Responsável: </span>{FiscalResponsavel}</p>
            <p><span class="tag">Prazo da ação em dias: </span>{PrazoAcaoFiscal}</p>

            <div>
                <a id="entregarDocumento" class="waves-effect waves-light btn"><i class="material-icons right">create_new_folder</i>Entrega de documentos</a>
            </div>
        </div>
    </div>
    <div class="col s8" id="baseDireita">
        <h4 class="titulo">Processo:</h4>
        <div style="background-color: white; min-height:200px;" id="tabela-processo">

        </div>
    </div>

</div>
