<script src="app/js/controle-estruturaAtos.js"></script>

<div class="row" style="margin-bottom: 0px;">
    <div class="col-md-9" id="papel-diagrama">

    </div>
    <div class="col-md-3 card-panel white">
        <div class="row">
            <a id="novoAto" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            <a id="limparDiagrama" class="pull-right">Limpar tabela</a>
        </div>
            <div class="col s12 valign-wrapper">
                <div class="input-field col s6 valign">
                    <input placeholder="Placeholder" id="input-nomeAto" type="text" class="validate">
                    <label class="active" for="input-nomeAto">Nome do Ato</label>
                </div>
                <div class="col s6 valign">
                    <a id="ato-alterarNome" class="waves-effect waves-light orange btn">Alterar</a>
                </div>
            </div>
            <div class="col s12 valign-wrapper">
                <div class="col s6 valign">
                    <select class="browser-default" id="selecionar-ato">
                        <option value="1">Adicione um ato</option>
                    </select>
                </div>
                <div class="col s6 valign">
                    <a id="ato-criarLink" class="waves-effect waves-light orange btn">Criar Link</a>
                </div>
            </div>
            <div class="col s12" style="margin: 1em;">
                <a id="CadastrarMapaAto" class="waves-effect waves-light orange btn right">Cadastrar diagrama</a>
            </div>
        </div>
    </div>
