<script src="app/js/criarAcaoFiscal.js"></script>

<div class="container">
    <div class="row">
        <h4 class="titulo">Incluir Ação Fiscal</h4>
        <div class="row z-depth-1" style="padding: 20px;">

            <form id="form-acaoFiscal">
                <div class="row">
                    <div class="col s6">
                        <h5 class="tag">Identificação do estabelecimento</h5>

                        <div class="row">
                            <div class="input-field col s11">
                                <input id="cnpj_autuado" type="text" class="cnpj-mask" name="cnpj-autuado">
                                <label for="cnpj_autuado">CNPJ</label>
                            </div>
                            <a id="escolherAutuado-sidebar" class="pull-right" style="cursor: pointer; margin-right: 0.8em; color: #00BCD4; margin-top: 2em;"><i class="material-icons">search</i></a>
                            <div class="col s12" id="estabelecimento-escolhido">

                            </div>
                        </div>

                        <h5 class="tag">Fatos geradores</h5>
                        <div class="row container">
                            <div class="switch col s6">
                                <label>
                                    <input type="checkbox" id="icms" name="icms">
                                    <span class="lever"></span>
                                    ICMS
                                </label>
                            </div>
                            <div class="switch col s6">
                                <label>
                                    <input type="checkbox" id="iss" name="iss">
                                    <span class="lever"></span>
                                    ISS
                                </label>
                            </div>
                        </div>

                        <h5 class="tag">Fiscais<a id="escolherFiscal-sidebar" class="pull-right" style="cursor: pointer; margin-right: 0.5em; color: #00BCD4"><i style="font-size: 2em;" class="material-icons">playlist_add</i></a></h5>
                        <div class="row">
                            <div class="col s12" id="caixa-participantes">

                            </div>
                        </div>

                        <h5 class="tag">Datas e prazos</h5>
                        <div class="row">
                            <div class="input-field col s8">
                                <input id="calendario" type="text" class="calendario" name="data-inicio-acao">
                                <label for="calendario">Data de início da fiscalização</label>
                            </div>

                            <div class="input-field col s4">
                                <input id="prazo-dias" type="text" class="" name="prazo-dias">
                                <label for="prazo-dias">Prazo (em dias)</label>
                                <small>Data final </small><span id="data-final"></span>
                            </div>
                        </div>

                        <h5 class="tag">Períodos do SIMPLES</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="inicio_periodo" type="text" class="meses" name="inicio-periodo">
                                <label for="inicio_periodo">Início</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="fim_periodo" type="text" class="meses" name="fim-periodo">
                                <label for="fim_periodo">Fim</label>
                            </div>
                        </div>

                    </div>


                    <div class="col s6" style="border-left: 1px solid #eee;">

                        <h5 class="tag">Motivação e demais informações</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="motivacao-principal" name="motivacao-principal">
                                    <option>  I - Seleção Interna</option>
                                    <option> II - Demanda Externa Requisitória</option>
                                    <option>III - Demanda Externa Não Requisitória</option>
                                    <option> IV - Determinação Interna</option>
                                    <option>  V - Demanda do Sujeito Passivo</option>
                                    <option> VI - Instrução Processual</option>
                                </select>
                                <label>Motivação principal</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="observacao" class="materialize-textarea" name="observacao"></textarea>
                                <label for="observacao">Histórico / Observações</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="nome_documento_interno" type="text" class="" value="TIAF" name="nome-documento-interno">
                                <label class="active" for="nome_documento_interno">Nome do Documento Interno</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="numero_documento_interno" type="text" class="" name="numero-documento-interno">
                                <label for="numero_documento_interno">Número do Documento Interno</label>
                            </div>
                        </div>

                        <h5 class="tag">Contato da empresa</h5>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="cpf_contato" type="text" class="cpf-mask" name="cpf-autuado">
                                <label for="cpf_contato">CPF</label>
                            </div>
                            <div class="input-field col s8">
                                <input id="nome_contato" type="text" class="" name="nome-autuado">
                                <label for="nome_contato">Nome</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="telefone" type="tel" class="" name="telefone-autuado">
                                <label for="telefone">Telefone</label>
                            </div>
                            <div class="input-field col s8">
                                <input id="email_contato" type="text" class="" name="email-autuado">
                                <label for="email_contato">E-mail</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="data_ciencia" type="text" class="calendario" name="data-ciencia">
                                <label for="data_ciencia">Data de ciência do início da Ação Fiscal</label>
                            </div>
                            <div class="input-field col s12 datetime-corrigeBotao">
                                <input id="hora_ciencia" type="text" class="horario" name="hora-ciencia">
                                <label for="hora_ciencia">Hora da ciência do início da Ação Fiscal</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="nome_documento_inicio" type="text" class="" name="nome-documento-inicio">
                                <label for="nome_documento_inicio">Nome do Documento que deu início a Ação Fiscal</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="numero_documento_inicio" type="text" class="" name="numero-documento-inicio">
                                <label for="numero_documento_inicio">Número do Documento que deu início a Ação Fiscal</label>
                            </div>

                        </div>

                    </div>

                    <div class="col s12 right">
                        <hr>
                        <a id="CadastrarAcaoFiscal" class="waves-effect waves-light btn pull-right"><i class="material-icons right">send</i>Incluir Ação Fiscal</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
