<script src="app/js/entregarDocumento.js"></script>

<div style="background-color: white; padding: 2em;">
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle cyan">folder</i>
            <span class="title">Documentos Entregues</span>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle red">file_upload</i>
            <span class="title">Documentos Solicitados</span>
            {listaDocsSolicitados}
            <div id="EnviarArquivos">Upload</div>
            <div class="row"><a id="enviarDocumentos" class="waves-effect waves-light btn pull-right"><i class="material-icons right">send</i>Enviar</a></div>
        </li>
    </ul>
</div>
