<script src="app/js/escolherFiscal-sidebar.js"></script>

<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header"><i class="material-icons">verified_user</i>Fiscal Responsável</div>
		<div class="collapsible-body select-fiscal">
			{FiscalResponsavel}
		</div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">supervisor_account</i>Participantes</div>
		<div class="collapsible-body selec-part">
			{TodosFiscais}
		</div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">person_add</i>Adicionar Fiscal</div>
		<div class="collapsible-body" style="padding: 1em;">
			<div class="row" id="novo-fiscal">
				<div class="input-field col s12">
					<input name="cpf_fiscal" id="cpf_fiscal" type="text" class="validate novo-fiscal fnc-validar cpf-mask">
					<label for="cpf_fiscal">* CPF</label>
				</div>
				<div class="input-field col s12">
					<input name="nome_fiscal" id="nome_fiscal" type="text" class="validate novo-fiscal fnc-validar">
					<label for="nome_fiscal">* Nome do Fiscal</label>
				</div>
				<div class="input-field col s12">
					<input name="matricula_fiscal" id="matricula_fiscal" type="text" class="validate novo-fiscal">
					<label for="matricula_fiscal">Matrícula</label>
				</div>
				<div class="input-field col s12">
					<input name="cargo_fiscal" id="cargo_fiscal" type="text" class="validate novo-fiscal">
					<label for="cargo_fiscal">Cargo</label>
				</div>
				<div class="input-field col s12">
					<input name="email_fiscal" id="email_fiscal" type="text" class="validate novo-fiscal fnc-validar">
					<label for="email_fiscal">* E-mail</label>
				</div>
				<div style="padding: 1em;">
					<a class="btn-floating waves-effect waves-light red pull-right" id="cadastrar_fiscal"><i class="material-icons">add</i></a>
				</div>
			</div>
			<small>* Preenchimento obrigatório</small>
		</div>
	</li>
</ul>
