<script src="app/js/escolherAutuado-sidebar.js"></script>

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">assignment</i>Lista de estabelecimentos</div>
        <div class="collapsible-body select-fiscal">
            {EstabelecimentosCadastrados}
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">add_circle_outline</i>Novo estabelecimento</div>
        <div class="collapsible-body" style="padding: 1em;">

            <ul class="nav nav-tabs" role="tablist" id="tabEstabelecimento">
                <li role="presentation" class="active"><a id="tab-dados" aria-controls="home" role="tab" data-toggle="tab">Dados</a></li>
                <li role="presentation"><a id="tab-endereco" aria-controls="profile" role="tab" data-toggle="tab">Endereço</a></li>
            </ul>

            <div class="tab-content" id="form_estabelecimento">
                <div class="tab-dados tab-pane active">

                    <div class="row" id="novo-fiscal">
                        <div class="input-field col s12">
                            <input name="cnpj-estab" id="cnpj-estab" type="text" class="fnc-validar cnpj-mask">
                            <label for="cnpj-estab">CNPJ</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="razao-estab" id="razao-estab" type="text" class="fnc-validar">
                            <label for="razao-estab">Razão Social</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="fantasia-estab" id="fantasia-estab" type="text" class="fnc-validar">
                            <label for="fantasia-estab">Nome Fantasia ou Referência</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="cmc-estab" id="cmc-estab" type="text" class="">
                            <label for="cmc-estab">CMC</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="atividade-estab" id="atividade-estab" type="text" class="">
                            <label for="atividade-estab">Área de Atuação</label>
                        </div>
                        <div style="padding: 1em;">
                            <a class="btn-floating waves-effect waves-light orange pull-right" id="pular-tab"><i class="material-icons">redo</i></a>
                        </div>
                    </div>
                    <small>CMC – Cadastro Municipal do Contribuinte</small>

                </div>

                <div class="tab-endereco tab-pane">

                    <div class="row" id="novo-fiscal">
                        <div class="input-field col s12">
                            <input name="logradouro-estab" id="logradouro-estab" type="text" class="fnc-validar">
                            <label for="logradouro-estab">Logradouro</label>
                        </div>
                        <div class="input-field col s4">
                            <input name="numero-estab" id="numero-estab" type="text" class="fnc-validar">
                            <label for="numero-estab">Número</label>
                        </div>
                        <div class="input-field col s8">
                            <input name="complemento-estab" id="complemento-estab" type="text" class="fnc-validar">
                            <label for="complemento-estab">Complemento</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="bairro-estab" id="bairro-estab" type="text" class="fnc-validar">
                            <label for="bairro-estab">Bairro</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="cidade-estab" id="cidade-estab" type="text" class="fnc-validar" value="Ubatuba">
                            <label class="active" for="cidade-estab">Cidade</label>
                        </div>
                        <div style="padding: 1em;">
                            <a class="btn-floating waves-effect waves-light red pull-right" id="cadastrar_estabelecimento"><i class="material-icons">add</i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </li>
</ul>
