<script src="app/js/gerenciarAcaoFiscal.js"></script>
<div class="row fundo-papel" >
    <nav id="bt-menu" class="bt-menu" style="float: initial;">
        <!--                    <a href="#" class="bt-menu-trigger" style="bottom: 20px; top: initial;"><span>Menu</span></a>-->
        <ul id="bt-menu-lateral">
            <li><a id="config-tabela">Tabela</a></li>
            <li><a href="#">Filtragem</a></li>
            <li><a href="#">Fiscais</a></li>
        </ul>
        <ul>
            <li><a>Twitter</a></li>
            <li><a>Google+</a></li>
            <li><a>Facebook</a></li>
            <li><a>icon-github</a></li>
        </ul>
        <div class="bt-overlay"></div>
    </nav>
    <a class="right" id="menu_configuracoes" style="margin-right: 2em;">Configurações</a>
    <div class="col s12">
        <div class="row valign-wrapper">
            <div class="col s2 valign" style="font-family: Roboto-Thin, sans-serif; text-align:center;"><h5>AÇÕES FISCAIS</h5></div>
            <div class="col s10 valign-wrapper card-panel" style="box-shadow: none; padding: 15px;">
                <div class="">
                    <label></label>
                    <a class="valign"><i class="material-icons">add_circle</i></a>
                </div>
                <div class="col s3">
                    <label>Colunas</label>
                    <select class="browser-default">
                        <option value="1">Responsável</option>
                        <option value="2">Ano</option>
                        <option value="3">CNPJ</option>
                    </select>
                </div>
                <div class="col s2">
                    <label>Tipo de busca</label>
                    <select class="browser-default">
                        <option value="1">É</option>
                        <option value="2">Contém</option>
                        <option value="3">Não é</option>
                    </select>
                </div>
                <div class="col s4">
                    <label>Resultado esperado</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Escolha uma opção</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
                <div class="col s3">
                    <label></label>
                    <a class="waves-effect waves-light btn valign"><i class="material-icons right">search</i>pesquisar</a>
                </div>
            </div>

        </div>

        <div id="tabelaAcoesAbertas" style="background-color: white;">

        </div>
    </div>


</div>
