<script src="app/js/painelGestor.js"></script>
<div class="background-quadriculado">
    <div class="menuGestor" style="min-height: 20em;">
        <div class="row valign-wrapper" >
            <div class=""><h4 class="titulo" style="line-height: 0px;"><i style="font-size: 1.5em; margin: 0.5em; margin-right: 0.7em" class="material-icons">desktop_windows</i>Painel de Controle</h4></div>
        </div>

        <ul id="ldd_menu" class="ldd_menu">
            <li>
                <span>Usuários</span><!-- Increases to 510px in width-->
                <div class="ldd_submenu">
                    <ul>
                        <li class="ldd_heading">Usuários</li>
                        <li><a href="#">Adicionar usuário</a></li>
                        <li><a href="#">Ver usuários</a></li>
                        <li><a href="#">Criar perfil</a></li>
                        <li><a href="#">Alterar permissões</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <ul>
                        <li class="ldd_heading">By Category</li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <a class="ldd_subfoot" href="#"> + New Deals</a>
                </div>
            </li>
            <li>
                <span>Estrutura</span>
                <div class="ldd_submenu">
                    <ul>
                        <li class="ldd_heading">By Category</li>
                        <li id="controle-sequenciarAtos"><a href="#">Mapear Atos</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <ul>
                        <li class="ldd_heading">By Category</li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <a class="ldd_subfoot" href="#"> + New Deals</a>
                </div>
            </li>
            <li>
                <span>Documentos</span>
                <div class="ldd_submenu">
                    <ul>
                        <li class="ldd_heading">By Category</li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <ul>
                        <li class="ldd_heading">By Category</li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                        <li><a href="#">Item disponível</a></li>
                    </ul>
                    <a class="ldd_subfoot" href="#"> + New Deals</a>
                </div>
            </li>
        </ul>
    </div>

    <div id="conteudo-gestor" style="min-height: 20em;">

    </div>
</div>
