/**********************************************************
/************ MENU DE CONFIGURAÇÕES - CODROPS *************
**********************************************************/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #333;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 0px 0px 50px 150px;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 8%;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
}

.bt-menu ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bt-menu ul:first-of-type {
    top: 0;
    left: 0;
}

.bt-menu ul:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
    display: block;
}

.bt-menu ul:nth-of-type(2) li {
    float: left;
    font-size: 0px;
}

.bt-menu ul li {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(-100%,50%,0);
    transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
    width: 60px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    text-decoration: none;
}

.bt-menu ul:first-of-type li a {
    padding: 0 20px;
    box-shadow: inset 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
    box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
    color: transparent;
    text-align: center;
    font-size: 0px;
}

.bt-menu ul li a:before {
    color: #fff;
    font-size: 24px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
    color: #1abc9c;
}

/***********************************************
************ MENU CONFIGURAÇÕES ****************
***********************************************/

#bt-menu-lateral li { float: initial;}

/**************************************
/************ FONTS *******************
**************************************/

@font-face {
    font-family: "Roboto";
    src: url(../font/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../font/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-ExtraBold.ttf);
}

/**************************************
/************ LOGIN ********************
**************************************/

.input-login input { background-color: white; height: 2em; }
.input-login p { color: white; font-weight: bold; }
.input-login a { cursor: pointer; }
.locais-login { line-height: 1em; margin-bottom: 0.3em; text-align: center; }
blockquote { border-left: 5px solid #088da5; }

.fundo-papel{
    background: #fff url(../img/bg01.png);
    margin: 0px;
    padding-top: 3em;
    padding-bottom: 4em;
}

/**************************************
/************ TAGS ********************
**************************************/

body { height: 100%; display: flex; min-height: 100vh !important; flex-direction: column; font-family: Roboto, sans-serif !important; }

main { flex: 1 0 auto !important; }

footer{ background-color: #263238 !important; }

.tag{ color: #00BCD4; font-family: 'Raleway',sans-serif; text-transform: uppercase; font-weight: bold;   font-size: 1em; }

h4.titulo{ font-family: Roboto-Thin, sans-serif; font-size: 3.2em; color: #9E9E9E}

label{ font-weight: normal; color: #565656; }

header a:hover, header a:focus{ text-decoration: none; color: white; }

header .titulo{ font-size: 1.3em; margin: 2em; text-transform: uppercase; }

.btn{ background-color: white; box-shadow: none }

.btn:hover{ background-color: #eee; box-shadow: none  }

footer.page-footer { margin: 0px; }

nav{ background-color: transparent; box-shadow: none }

/**************************************
/************* NAVBAR *****************
**************************************/

.navbar{ margin-bottom: 0px;}

/**************************************
/********* FORMULARIO *****************
**************************************/

/* SWITCH */

.switch{ margin: 1.5em 0px 1.5em 0px; }
.switch label input[type=checkbox]:checked+.lever{ background-color: #c0d6e4; }
.switch label input[type=checkbox]:checked+.lever:after { background-color:  #088da5; }
.switch label .lever:after { box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2) }

/* SELECT */

.caret{ border-top: none; }
.dropdown-content li { font-size: 10px; }
.dropdown-content li>span { color: #088da5; padding: 0.7em 0.7em; font-size: 1.5em; }

/* DATETIMEPICKER */

.datetimes-corrigeBotao .btn{ background-color: rgba(0,0,0, 0); padding: 0px; margin: 0px; position: inherit; box-shadow: none; }
.usetwentyfour{ padding: 0px; top: 0px; }

/* BOTAO CADASTRAR */

a.waves-light{ background-color: #088da5; }
a.waves-light:hover{ background-color: #00BCD4; color: white; text-decoration: none; }

/* Toolbar */

.tool-item{ height: auto; min-width: 3em; }
.btn-toolbar{ height: auto; min-width: 2.7em; }

/* Participantes */
#estabelecimento-escolhido, #caixa-participantes{ min-height: 4em; }
#estabelecimento-escolhido span, #caixa-participantes span{ margin-right: 1.5em; font-size: 1em !important; line-height: 4em;}

/**************************************
/********* COR DOS INPUTS *************
**************************************/

/* label color */
.input-field label { color: #565656; }

/* label focus color */
textarea{ text-align: justify; }
textarea.materialize-textarea{ border-bottom: 1px solid #ddd; box-shadow: 0px; }
textarea.materialize-textarea:focus:not([readonly]) + label{ color: #00BCD4; }
textarea.materialize-textarea:focus:not([readonly]){ border-bottom: 1px solid #00BCD4; box-shadow: 0 1px 0 0 #00BCD4; }

/* label focus color */
.input-field input[type=text]:focus + label { color: #00BCD4; }
.input-field input[type=tel]:focus + label { color: #00BCD4; }

/* label underline focus color */
.input-field input[type=text]:focus { border-bottom: 1px solid #00BCD4; box-shadow: 0 1px 0 0 #00BCD4; }
.input-field input[type=tel]:focus { border-bottom: 1px solid #00BCD4; box-shadow: 0 1px 0 0 #00BCD4; }

/* valid color */
.input-field input[type=text].valid { border-bottom: 1px solid #eee; box-shadow: 0 1px 0 0 #fff; }
.input-field input[type=tel].valid { border-bottom: 1px solid #eee; box-shadow: 0 1px 0 0 #fff; }

/* invalid color */
.input-field input[type=text].invalid { border-bottom: 1px solid red; box-shadow: 0 1px 0 0 red; }
.input-field input[type=tel].invalid { border-bottom: 1px solid red; box-shadow: 0 1px 0 0 red; }

/* icon prefix focus color */
.input-field .prefix.active { color: #1C88A1; }

input{ font-weight: 300; color: darkslategray; height: 2em; font-size: 1.2em; }

/**************************************
/************ .COLLAPSIBLE *************
**************************************/

.collapsible{ box-shadow: none; }
.collapsible-header.active{ color: steelblue}

/**************************************
/************ .TERMOS / ATOS *************
**************************************/

.removeItem{ cursor: pointer; font-size: 1.3em; color: red;}

.card{ box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3) }

.card .card-action a { color: #1C88A1;}

.card .card-action a:hover { color: #00BCD4;}

.cd-pricing-header h2{ text-shadow: none; font-weight: 400; text-transform: none;}

.cd-pricing-features { padding: 0px;}

.cd-form .cd-pricing-features::before{ background-color: transparent; }

.cd-pricing-footer {padding: 0px; margin: 0px;}

.cd-pricing-footer a{ border: 0px; color: #039be5;}

.cd-form .cd-more-info{ padding: 150px 0.1em;}

.cd-more-info em{ color: #aaa;}

/**************************************
/************ .TABS *************
**************************************/

.tabs .indicator { background-color: #1C88A1; }
.tabs .tab a { color: #1C88A1; }
.tabs .tab a:hover { color: #1C88A1; }


/***********************************************************
/************ TABELA TERMO DE DILIGENCIA *******************
************************************************************/

.tg  { border-collapse:collapse;border-spacing:0;}
.tg td{ font-family:Arial, sans-serif;font-size:11px;font-weight:bold;padding:0px 8px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; }
.tg th{ font-family:Arial, sans-serif;font-size:11px;font-weight:bold;padding:0px 8px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal; }
.tg .tg-s6z2{ text-align:center }
.tg .tg-baqh{ text-align:center;vertical-align:top }

/**************************************
************ IMPRESSAO ****************
**************************************/

.style_doc{ border: 1px black solid; margin-right: 2em; margin-left: 2em; }
.style_doc_categoria { margin-right: 5em; margin-left:5em; margin-bottom: 0px; font-weight: bold; }
.style_doc_fixo { font-weight: bold; line-height: 0.8em; margin-bottom: 0.3em; }
.style_doc_categoria_fixo { margin-right: 5em; margin-left:5em; margin-bottom: 0px; font-weight: bold; line-height: 2em; }
.pre_doc{ background-color: white; border: none; line-height: 1.1em; padding-top: 1px; padding-bottom: 1px; }
.span_tiaf{ font-weight: normal; }
#imprimirTIAF div { margin-bottom: 0.3em; font-size: 11px;}
.style_TD{ border: 1px black solid; margin: 0px; text-align: left;}
.colProcedimentosExaminados { height: 100%; border: 1px black solid;  margin: 0px; min-height: 40px; padding: 0px; width: 33.33%; float:left; padding-top: 0.6em; }

/****************************************************
************ TABELA DE ACOES ABERTAS ****************
*****************************************************/

.table-lista-acoes { cursor: pointer;}

/****************************************************
************ CAIXA UPLOAD FILE ****************
*****************************************************/

.ajax-upload-dragdrop{ height: 10em; }


/***********************************************
************ COMPONENTES ****************
***********************************************/

.chip {display:inline-block;height:32px;font-size:13px;font-weight:500;color:rgba(0,0,0,0.6);line-height:32px;padding:0 12px;border-radius:16px;background-color:#e4e4e4}
.chip i.material-icons {cursor:pointer;float:right;font-size:16px;line-height:32px;padding-left:8px}

/***********************************************
************ IMPRESSAO - TERMOS ****************
***********************************************/

.tituloTermo-impressao { margin-right: 5em; margin-left:5em; margin-bottom: 0px; line-height: 10px; font-weight: bold; }
.numeroDoc-impressao { margin-right: 5em; margin-left:5em; margin-top:0px; line-height: 10px; }

/************************************************************
/************ BOTAO DIREITO - termo de diligencia ***********
************************************************************/

#ie5menu { BACKGROUND-COLOR: #1e90ff; BORDER-BOTTOM: #000000 0px solid; BORDER-LEFT: #000000 0px solid; BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 7.8pt; FONT-WEIGHT:bold; COLOR: #FFFFFF; LINE-HEIGHT: 13px; POSITION: absolute; VISIBILITY: hidden; WIDTH: 114px }
.menuitems { PADDING-LEFT: 15px; PADDING-RIGHT: 15px }

/*******************************************************
**** LISTA DE FISCAIS - SIDEBAR (COM AVATAR) ***********
********************************************************/

#escolherAvatar{ margin: 0px; border: none; border-radius: none; }
.collapsible-body #escolherAvatar p{ padding: 0px; color: #777; }
#escolherAvatar .collection-item.avatar{ min-height: 0px; cursor: pointer; padding: 0.6em; padding-left: 4.5em; }
#escolherAvatar .collection-item.avatar:hover{ background-color: #f9f9f9; }
.collection .collection-item.avatar .title{ font-weight: bold; }
#escolherAvatar .collection-item.avatar i.circle{ font-size: 1.7em; line-height: 1.4em; }
#escolherAvatar .collection-item.avatar .circle{ height: 1.4em; width: 1.4em; }

li.fiscal-resp ,li.part-select{ background-color: #eee !important;}

/**********************************************************
/************ CSS TRIGGER - mensagens de erro *************
**********************************************************/

.trigger{ position: relative; padding: 20px; color: #333; background: #ccc; border: 1px solid #333; font:400 14px 'Verdana', sans-serif; }
.trigger{ border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.trigger .ajax_close{ position: absolute; right: 10px; cursor: pointer; top: 10px; background: black; width: 20px; height: 20px; display: none; }
.trigger.success{ background-color: #E5F8CE; border-color: #D0F1A6; }
.trigger.info{ background-color: #D1ECF7; border-color: #BCDFEF; }
.trigger.warning{ background-color: #FFF6BF; border-color: #FCEB77; }
.trigger.danger{ background-color: #FAD0D0; border-color: #F6ABAB; }

